<div>
  <h2>Entregas com Insucesso por Motorista</h2>
  <mat-table [dataSource]="unsuccessfulDeliveries" class="mat-elevation-z8">
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Motorista </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="entregasInsucesso">
      <mat-header-cell *matHeaderCellDef> Entregas com Insucesso </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.entregasInsucesso}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
